// website variables
$base-color: #1e0711;
$highlight-color: #ff1eb0;
$font-color: white;
$margin-value: 4rem;

// placeholder selector
%flexaie {
  display: flex;
  align-items: end;
}

%flexjcc {
  display: flex;
  justify-content: center;
}

%bgimgcenter {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

%nodecotext {
  text-decoration: none;
}

%underdecotext {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

%statsh4 {
  font-size: 1.5rem;
  text-align: center;
  background-color: #ff1eb0;
  padding: 1rem 0;
  text-decoration: underline;
  text-underline-offset: 1.25rem;
}

%statsp {
  font-size: 3rem;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.6);
  padding: 1rem 0;
}

// font and sizing
*,
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Consolas, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  background-color: $base-color;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto auto 100vh auto;
  grid-template-areas:
    "main"
    "teammates"
    "stats"
    "killers"
    "foot";
}

// header section

header {
  position: absolute;
  margin-top: $margin-value;
  height: $margin-value;
  width: 100%;
  display: flex;
}

// elements from the navbar

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

//  font logo

.logo-nav {
  font-size: 3rem;
  line-height: 2.5rem;
  height: 100%;
  width: 14rem;
  margin-left: 6rem;
  @extend %flexaie;
  color: $font-color;
}

// menu items navbar

.home-link-active {
  @extend %underdecotext;
  color: $font-color;
}

.menu-nav {
  @extend %flexaie;
}

.menu-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu-nav a {
  margin: 0 0.8rem 0 0.8rem;
  @extend %nodecotext;
  color: $font-color;
  font-size: 1.2rem;
  font-weight: 500;
}

.menu-nav a:hover {
  color: $highlight-color;
}

.space-nav {
  @extend %flexaie;
  width: 14rem;
  margin-right: 6rem;
  display: flex;
  justify-content: end;

  a:hover {
    color: $highlight-color;
  }
}

.user-name {
  margin-right: 1rem;
  @extend %nodecotext;
  color: $font-color;
  font-size: 1.2rem;
  font-weight: 500;
}

.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-image: url(/resource/avatar.png);
  @extend %bgimgcenter;
}

main {
  grid-area: main;
  background-image: url(/resource/main-background.jpg);
  @extend %bgimgcenter;
}

.main-text {
  margin-left: 3rem;
  padding: 1rem;
  width: 35%;
  height: auto;
  display: block;
  margin-top: 20rem;
  background-color: hsla(0, 0%, 0%, 0.2);
  color: white;
}

.main-text h3 {
  @extend %underdecotext;
  color: white;
  font-size: 2rem;
}

.main-text h4 {
  margin-top: 0.3rem;
}

.text.typing {
  border-right: 1px solid;
}

.multipleStrings {
  color: $font-color;
}

// Team section

.teammates {
  grid-area: teammates;
  color: $font-color;
}

.team-title {
  margin: 2rem 0 0 3rem;
  padding-bottom: 3rem;
  @extend %underdecotext;
  font-size: 1.7rem;
}

.team-section {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 0.2fr 1fr 0.1fr 1fr 0.2fr 1fr 0.1fr 1fr 0.2fr;
  grid-template-rows: 28rem;
  grid-template-areas: ". ponk . introp . kinero . introk . bokehlicia . introb .";

  h3 {
    @extend %underdecotext;
    font-size: 1.1rem;
  }
}

.ponk-avatar {
  grid-area: ponk;
  background-image: url(/resource/ponk.jpg);
  @extend %bgimgcenter;
}

.intro-ponk {
  grid-area: introp;
}

.kinero-avatar {
  grid-area: kinero;
  background-image: url(/resource/kinero.jpg);
  @extend %bgimgcenter;
  background-position: top;
}

.intro-kinero {
  grid-area: introk;
}

.bokehlicia-avatar {
  grid-area: bokehlicia;
  background-image: url(/resource/bokehlicia.jpg);
  @extend %bgimgcenter;
}

.intro-bokehlicia {
  grid-area: introb;
}

.read-more-section {
  display: flex;
  justify-content: space-between;
}

.read-more a {
  @extend %nodecotext;
  color: $font-color;
}

.stats {
  margin: 4rem 0;
  color: $font-color;
  grid-area: stats;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
  grid-template-rows: auto;
  grid-template-areas: ". tgames . tkills . ttop1 .";
}

.counter:not(.is-visible) {
  visibility: hidden;
}

.total-games {
  grid-area: tgames;

  h4 {
    @extend %statsh4;
  }

  p {
    @extend %statsp;
  }
}

.total-kills {
  grid-area: tkills;

  h4 {
    @extend %statsh4;
  }

  p {
    @extend %statsp;
  }
}

.total-top-one {
  grid-area: ttop1;

  h4 {
    @extend %statsh4;
  }

  p {
    @extend %statsp;
  }
}

.killers {
  color: $font-color;
  grid-area: killers;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 0.2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". sil . silt ."
    ". frant . fran .";

  h2 {
    font-size: 1.5rem;
    @extend %underdecotext;
  }
}

.sil-img {
  grid-area: sil;
  background-image: url(/resource/francisco.jpg);
  @extend %bgimgcenter;
}

.sil-one {
  grid-area: silt;
}

.fran-one {
  grid-area: frant;
  text-align: end;
}

.fran-img {
  grid-area: fran;
  background-image: url(/resource/silvina.jpg);
  @extend %bgimgcenter;
}

.read_more {
  a {
    color: $font-color;
    @extend %nodecotext;
  }
}

footer {
  height: 20rem;
  grid-area: foot;
}

.footer-newsleter {
  margin-top: 4rem;
  background-color: hsla(0, 0%, 0%, 0.2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $font-color;
  h3 {
    @extend %underdecotext;
    font-size: 2rem;
  }

  form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    display: inline-block;
    text-align: center;
    padding: 0.5rem 3rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: hsla(0, 0%, 100%, 0.05);
  }

  button {
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: $highlight-color;
    color: $font-color;
  }
}
::placeholder {
  color: hsla(321, 100%, 56%, 0.2);
}
