// website variables
$base-color: #1e0711;
$highlight-color: #ff1eb0;
$font-color: white;
$margin-value: 4rem;

// placeholder selector
%flexaie {
  display: flex;
  align-items: end;
}

%flexjcc {
  display: flex;
  justify-content: center;
}

%bgimgcenter {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

%nodecotext {
  text-decoration: none;
}

%underdecotext {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

%statsh4 {
  font-size: 1.5rem;
  text-align: center;
  background-color: #ff1eb0;
  padding: 1rem 0;
  text-decoration: underline;
  text-underline-offset: 1.25rem;
}

%statsp {
  font-size: 2.4rem;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.6);
  padding: 1rem 0;
}

// font and sizing
*,
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Consolas, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  background-color: $base-color;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto auto auto auto;
  grid-template-areas:
    "main"
    "teammates"
    "stats"
    "killers"
    "foot";
}

// header section

header {
  position: absolute;
  margin-top: 2rem;
  height: $margin-value;
  width: 100%;
  display: flex;
}

// elements from the navbar

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

//  font logo

.logo-nav {
  font-size: 3rem;
  line-height: 2.5rem;
  height: 100%;
  width: 14rem;
  margin-left: 4rem;
  @extend %flexaie;
  color: $font-color;
}

// menu items navbar

.home-link-active {
  @extend %underdecotext;
  color: $font-color;
}

.menu-nav {
  @extend %flexaie;
}

.menu-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu-nav a {
  margin: 0 0.8rem 0 0.8rem;
  @extend %nodecotext;
  color: $font-color;
  font-size: 1.2rem;
  font-weight: 500;
}

.menu-nav a:hover {
  color: $highlight-color;
}

.space-nav {
  @extend %flexaie;
  width: 14rem;
  margin-right: 4rem;
  display: flex;
  justify-content: end;

  a:hover {
    color: $highlight-color;
  }
}

.user-name {
  margin-right: 1rem;
  @extend %nodecotext;
  color: $font-color;
  font-size: 1.2rem;
  font-weight: 500;
}

.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-image: url(./resource/avatar.png);
  @extend %bgimgcenter;
}

.sidebar {
  display: none;
}

.close-button {
  display: none;
}

main {
  grid-area: main;
  background-image: url(./resource/main-background.jpg);
  @extend %bgimgcenter;
  display: flex;
  align-items: center;
}

.main-text {
  margin-left: 3rem;
  padding: 1rem;
  width: 35%;
  height: auto;
  display: block;
  background-color: hsla(0, 0%, 0%, 0.2);
  color: white;
}

.main-text h3 {
  @extend %underdecotext;
  color: white;
  font-size: 2rem;
}

.main-text h4 {
  margin-top: 0.3rem;
}

.text.typing {
  border-right: 1px solid;
}

.multipleStrings {
  color: $font-color;
}

// Team section

.teammates {
  grid-area: teammates;
  color: $font-color;
}

.team-title {
  margin: 2rem 0 0 3rem;
  padding-bottom: 3rem;
  @extend %underdecotext;
  font-size: 1.7rem;
}

.team-section {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 0.2fr 1fr 0.1fr 1fr 0.2fr 1fr 0.1fr 1fr 0.2fr;
  grid-template-rows: 28rem;
  grid-template-areas: ". ponk . introp . kinero . introk . bokehlicia . introb .";

  h3 {
    @extend %underdecotext;
    font-size: 1.2rem;
  }
}

.ponk-avatar {
  grid-area: ponk;
  background-image: url(./resource/ponk.jpg);
  @extend %bgimgcenter;
}

.intro-ponk {
  grid-area: introp;
}

.kinero-avatar {
  grid-area: kinero;
  background-image: url(./resource/kinero.jpg);
  @extend %bgimgcenter;
  background-position: top;
}

.intro-kinero {
  grid-area: introk;
}

.bokehlicia-avatar {
  grid-area: bokehlicia;
  background-image: url(./resource/bokehlicia.jpg);
  @extend %bgimgcenter;
}

.intro-bokehlicia {
  grid-area: introb;
}

.read-more-section {
  display: flex;
  justify-content: space-between;
}

.read-more a {
  @extend %nodecotext;
  color: $font-color;

  &:hover {
    color: $highlight-color;
  }
}

.sil-one a {
  display: flex;
  justify-content: end;
}

.stats {
  margin: 4rem 0;
  color: $font-color;
  grid-area: stats;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
  grid-template-rows: auto;
  grid-template-areas: ". tgames . tkills . ttop1 .";
}

.counter:not(.is-visible) {
  visibility: hidden;
}

.total-games {
  grid-area: tgames;

  h4 {
    @extend %statsh4;
  }

  p {
    @extend %statsp;
  }
}

.total-kills {
  grid-area: tkills;

  h4 {
    @extend %statsh4;
  }

  p {
    @extend %statsp;
  }
}

.total-top-one {
  grid-area: ttop1;

  h4 {
    @extend %statsh4;
  }

  p {
    @extend %statsp;
  }
}

.killers {
  padding-bottom: 4rem;
  color: $font-color;
  grid-area: killers;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 0.2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". sil . silt ."
    ". frant . fran .";

  h2 {
    font-size: 1.5rem;
    @extend %underdecotext;
  }
}

.sil-img {
  grid-area: sil;
  background-image: url(./resource/francisco.jpg);
  @extend %bgimgcenter;
}

.sil-one {
  grid-area: silt;
}

.fran-one {
  grid-area: frant;
  text-align: end;
}

.fran-img {
  grid-area: fran;
  background-image: url(./resource/silvina.jpg);
  @extend %bgimgcenter;
}

.read_more {
  a {
    color: $font-color;
    @extend %nodecotext;
  }
}

footer {
  height: 20rem;
  grid-area: foot;
}

.footer-newsleter {
  background-color: hsla(0, 0%, 0%, 0.2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $font-color;
  h3 {
    @extend %underdecotext;
    font-size: 2rem;
  }

  form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    display: inline-block;
    text-align: center;
    padding: 0.5rem 3rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: hsla(0, 0%, 100%, 0.05);

    &:hover {
      background-color: 0, 0%, 100%, 0.2;
    }
  }

  .nl-button {
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: $highlight-color;
    color: $font-color;

    &:hover {
      background-color: hsla(317, 91%, 55%, 0.4);
      color: $highlight-color;
    }
  }
}
::placeholder {
  color: hsla(321, 100%, 56%, 0.4);
}

/* latop size 1024px section */
@media screen and (max-width: 1024px) {
  .logo-nav {
    margin-left: 2rem;
  }

  .space-nav {
    margin-right: 2rem;
  }

  .grid-container {
    grid-template-rows: 50rem auto auto auto auto;
  }

  .main {
    display: flex;
    justify-content: center;
  }

  .team-section {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
    grid-template-rows: 25rem auto;
    grid-template-areas:
      ". ponk . kinero . bokehlicia ."
      ". introp . introk . introb .";
    row-gap: 2rem;
  }
}

/* tablet size 768px section */
@media screen and (max-width: 768px) {
  header {
    margin-top: 1rem;
  }

  .menu-nav {
    display: none;
  }

  .logo-nav {
    margin-left: 1.5rem;
  }

  .space-nav {
    display: none;
    margin-right: 1.5rem;
  }

  li .user-avatar {
    margin-bottom: -1.5rem;
  }

  nav > .sidebar {
    display: none;
    justify-content: end;
  }

  .sidebar {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    margin-top: 0;
    z-index: 999;
    width: 16rem;
    height: 100vh;
    background-color: hsla(321, 58%, 24%, 0.2);
    backdrop-filter: blur(0.8rem);
    box-shadow: -0.8rem - 0.8rem hsla(0, 0%, 0%, 0.5);

    ul {
      margin-top: 2.5rem;
      margin-right: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: end;
      list-style: none;

      .user-name {
        margin-right: 0;
      }
    }

    li {
      margin-bottom: 2rem;
    }

    a {
      color: $font-color;
      text-decoration: none;
      text-underline-offset: 0.5;

      &:hover {
        color: $highlight-color;
      }
    }
  }

  .close-button {
    position: relative;
    top: 1.9rem;
    right: 1.5rem;
    display: flex;
  }

  .open-button {
    position: fixed;
    top: 1rem;
    right: 13rem;
  }

  .main-text {
    width: 100%;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }

  .grid-container {
    grid-template-rows: 50rem auto auto auto auto;
  }

  .team-section {
    row-gap: 1rem;
  }

  .team-title {
    margin: 1rem 1.4rem;
    padding-bottom: 1rem;
  }

  .stats {
    margin: 1.4rem 0;

    p {
      font-size: 2rem;
    }
  }

  .killers {
    padding-bottom: 1.5rem;
    grid-template-columns: 0.07fr 1fr 0.07fr 1fr 0.07fr;
  }
}

/* Mobile L size 425px section */
@media screen and (max-width: 425px) {
  header {
    margin-top: 0rem;
  }

  .logo-nav {
    margin-left: 1rem;
    width: auto;
  }

  .space-nav {
    margin-right: 1rem;
    width: auto;
  }

  .user-name {
    display: none;
  }

  nav > .sidebar {
    display: none;
    justify-content: center;
  }

  .sidebar {
    width: 100%;
    ul {
      margin-top: 1.5rem;
      margin-right: 0;
      align-items: center;

      .user-name {
        display: flex;
      }
    }
  }

  .close-button {
    position: relative;
    top: 1.9rem;
    right: 1rem;
  }

  .open-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }

  .grid-container {
    grid-template-rows: 45rem auto auto auto auto;
  }

  .main-text {
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .team-section {
    grid-template-columns: 0.03fr 1fr 0.03fr;
    grid-template-rows: 30rem auto 30rem auto 30rem auto;
    grid-template-areas:
      ". ponk ."
      ". introp ."
      ". kinero ."
      ". introk ."
      ". bokehlicia ."
      ". introb .";
  }

  .ponk-avatar,
  .bokehlicia-avatar {
    background-position: top;
  }

  .stats {
    h4 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.6rem;
    }
  }

  .killers {
    grid-template-columns: 0.03fr 1fr 0.03fr;
    grid-template-rows: 30rem auto 30rem auto;
    grid-template-areas:
      ". sil ."
      ". silt ."
      ". fran ."
      ". frant .";
    row-gap: 1rem;
  }
}

// animation button
