.space-nav, .menu-nav, .logo-nav {
  display: flex;
  align-items: end;
}

.fran-img, .sil-img, .bokehlicia-avatar, .kinero-avatar, .ponk-avatar, main, .user-avatar {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.read_more a, .read-more a, .user-name, .menu-nav a {
  text-decoration: none;
}

.footer-newsleter h3, .killers h2, .team-section h3, .team-title, .main-text h3, .home-link-active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.total-top-one h4, .total-kills h4, .total-games h4 {
  font-size: 1.5rem;
  text-align: center;
  background-color: #ff1eb0;
  padding: 1rem 0;
  text-decoration: underline;
  text-underline-offset: 1.25rem;
}

.total-top-one p, .total-kills p, .total-games p {
  font-size: 3rem;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.6);
  padding: 1rem 0;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Consolas, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  background-color: #1e0711;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto auto 100vh auto;
  grid-template-areas: "main" "teammates" "stats" "killers" "foot";
}

header {
  position: absolute;
  margin-top: 4rem;
  height: 4rem;
  width: 100%;
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-nav {
  font-size: 3rem;
  line-height: 2.5rem;
  height: 100%;
  width: 14rem;
  margin-left: 4rem;
  color: white;
}

.home-link-active {
  color: white;
}

.menu-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu-nav a {
  margin: 0 0.8rem 0 0.8rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.menu-nav a:hover {
  color: #ff1eb0;
}

.space-nav {
  width: 14rem;
  margin-right: 4rem;
  display: flex;
  justify-content: end;
}
.space-nav a:hover {
  color: #ff1eb0;
}

.user-name {
  margin-right: 1rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-image: url(/resource/avatar.png);
}

main {
  grid-area: main;
  background-image: url(/resource/main-background.jpg);
}

.main-text {
  margin-left: 3rem;
  padding: 1rem;
  width: 35%;
  height: auto;
  display: block;
  margin-top: 20rem;
  background-color: hsla(0, 0%, 0%, 0.2);
  color: white;
}

.main-text h3 {
  color: white;
  font-size: 2rem;
}

.main-text h4 {
  margin-top: 0.3rem;
}

.text.typing {
  border-right: 1px solid;
}

.multipleStrings {
  color: white;
}

.teammates {
  grid-area: teammates;
  color: white;
}

.team-title {
  margin: 2rem 0 0 3rem;
  padding-bottom: 3rem;
  font-size: 1.7rem;
}

.team-section {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 0.2fr 1fr 0.1fr 1fr 0.2fr 1fr 0.1fr 1fr 0.2fr;
  grid-template-rows: 28rem;
  grid-template-areas: ". ponk . introp . kinero . introk . bokehlicia . introb .";
}
.team-section h3 {
  font-size: 1.2rem;
}

.ponk-avatar {
  grid-area: ponk;
  background-image: url(/resource/ponk.jpg);
}

.intro-ponk {
  grid-area: introp;
}

.kinero-avatar {
  grid-area: kinero;
  background-image: url(/resource/kinero.jpg);
  background-position: top;
}

.intro-kinero {
  grid-area: introk;
}

.bokehlicia-avatar {
  grid-area: bokehlicia;
  background-image: url(/resource/bokehlicia.jpg);
}

.intro-bokehlicia {
  grid-area: introb;
}

.read-more-section {
  display: flex;
  justify-content: space-between;
}

.read-more a {
  color: white;
}

.stats {
  margin: 4rem 0;
  color: white;
  grid-area: stats;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
  grid-template-rows: auto;
  grid-template-areas: ". tgames . tkills . ttop1 .";
}

.counter:not(.is-visible) {
  visibility: hidden;
}

.total-games {
  grid-area: tgames;
}
.total-kills {
  grid-area: tkills;
}
.total-top-one {
  grid-area: ttop1;
}
.killers {
  color: white;
  grid-area: killers;
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 0.2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". sil . silt ." ". frant . fran .";
}
.killers h2 {
  font-size: 1.5rem;
}

.sil-img {
  grid-area: sil;
  background-image: url(/resource/francisco.jpg);
}

.sil-one {
  grid-area: silt;
}

.fran-one {
  grid-area: frant;
  text-align: end;
}

.fran-img {
  grid-area: fran;
  background-image: url(/resource/silvina.jpg);
}

.read_more a {
  color: white;
}

footer {
  height: 20rem;
  grid-area: foot;
}

.footer-newsleter {
  margin-top: 4rem;
  background-color: hsla(0, 0%, 0%, 0.2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer-newsleter h3 {
  font-size: 2rem;
}
.footer-newsleter form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-newsleter input {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 3rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.05);
}
.footer-newsleter button {
  margin-top: 0.5rem;
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #ff1eb0;
  color: white;
}

::-moz-placeholder {
  color: hsla(321, 100%, 56%, 0.2);
}

::placeholder {
  color: hsla(321, 100%, 56%, 0.2);
}

/* latop size 1024px section */
@media screen and (max-width: 1024px) {
  .logo-nav {
    margin-left: 2rem;
  }
  .space-nav {
    margin-right: 2rem;
  }
  .team-section {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
    grid-template-rows: 25rem auto;
    grid-template-areas: ". ponk . kinero . bokehlicia ." ". introp . introk . introb .";
    row-gap: 2rem;
  }
}
/* tablet size 768px section */
@media screen and (max-width: 768px) {
  .menu-nav {
    display: none;
  }
  .logo-nav {
    margin-left: 1.5rem;
  }
  .space-nav {
    margin-right: 1.5rem;
  }
  .main-text {
    margin: 20rem auto;
    width: 90%;
  }
  .grid-container {
    grid-template-rows: 100vh auto auto auto auto;
  }
  .team-section {
    row-gap: 1rem;
  }
  .team-title {
    margin: 1rem 1.4rem;
    padding-bottom: 1rem;
  }
  .stats {
    margin: 1.4rem 0;
  }
  .killers {
    grid-template-columns: 0.07fr 1fr 0.07fr 1fr 0.07fr;
  }
  .footer-newsleter {
    margin-top: 1.4rem;
  }
}
/* Mobile L size 425px section */
@media screen and (max-width: 425px) {
  header {
    margin-top: 0rem;
  }
  .logo-nav {
    margin-left: 1rem;
    width: auto;
  }
  .space-nav {
    margin-right: 1rem;
    width: auto;
  }
  .user-name {
    display: none;
  }
  .grid-container {
    grid-template-rows: 45rem auto auto auto auto;
  }
  .main-text {
    margin-top: 11.4rem;
  }
  .team-section {
    grid-template-columns: 0.03fr 1fr 0.03fr;
    grid-template-rows: 30rem auto 30rem auto 30rem auto;
    grid-template-areas: ". ponk ." ". introp ." ". kinero ." ". introk ." ". bokehlicia ." ". introb .";
  }
  .ponk-avatar,
  .bokehlicia-avatar {
    background-position: top;
  }
  .stats h4 {
    font-size: 1.2rem;
  }
  .stats p {
    font-size: 1.6rem;
  }
  .killers {
    grid-template-columns: 0.03fr 1fr 0.03fr;
    grid-template-rows: 30rem auto 30rem auto;
    grid-template-areas: ". sil ." ". silt ." ". fran ." ". frant .";
    row-gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */